body{
    font-family: Arial;
    background:#f4f6f8;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    width:500px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.task-row{
    display:flex;
    gap:10px;
    margin-bottom:10px;
}

.task-row button{
    background:#ff8b39;
    color:white;
    border:none;
    padding:6px 10px;
    cursor:pointer;
}

input, select{
    padding:8px;
}

button{
    padding:10px;
    background:#4CAF50;
    color:white;
    border:none;
    border-radius:5px;
}