<!DOCTYPE html>
<html>
<head>
<title>AI Task Prioritizer</title>
<link rel="stylesheet" href="/static/style.css">

<script>

function generateTasks(){

    const num = document.getElementById("taskCount").value;
    const container = document.getElementById("tasks");

    const today = new Date().toISOString().split("T")[0];

    container.innerHTML = "";

    for(let i=0;i<num;i++){

        const row = document.createElement("div");

        row.className = "task-row";

        row.innerHTML = `
            <input type="text" name="task[]" placeholder="Task Name" required>

            <input type="date" name="deadline[]" min="${today}" required>

            <select name="importance[]">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
        `;

        container.appendChild(row);
    }

}

</script>

</head>

<body>

<div class="container">

<h1>AI Task Prioritizer</h1>

<label>How many tasks?</label>

<input type="number" id="taskCount" min="1">

<button type="button" onclick="generateTasks()">Create Tasks</button>

<br><br>

<form method="POST">

<div id="tasks"></div>

<br>

<button type="submit">Calculate Priority</button>

</form>

</div>

</body>
</html>