<!DOCTYPE html>
<html>
<head>
    <title>AI Task Prioritizer</title>
</head>
<body>
<h2>AI Task Prioritizer</h2>
<form method="POST">

<label>Task Name</label><br>
<input type="text" name="task" required><br><br>

<label>Deadline</label><br>
<input type="date" name="deadline" required><br><br>
<label>Importance</label><br>
<select name="importance">
<option value="High">High</option>
<option value="Medium">Medium</option>
<option value="Low">Low</option>
</select>

<br><br>
<button type="submit">Calculate Priority</button>
</form>
</body>
</html>